
*{
    margin: 0 auto;
    padding: 0;
    list-style: none ;
    font-family: "맑은 고딕";
    color: #333333;
}

a{
    text-decoration: none;
    display: block;
}
body{
    width: 1200px;
    background-color: #ffffff;
    font-size: 20px;
}
  
header{
    height: 250px;
    width: 100%;
    
}
    .snsvoid{
        float: left;
        height: 200px;
        width: 25%;
    } 
    .logo{
        float: left;
        height: 200px;
        width: 50%;
    }
        .logo img{
            float: left;
            height: 80%;
            width: 56%;
            display: block;
            margin-top: 30px;
            margin-left: 130px;
        }
     
    .sns{
        float: left;
        height: 200px;
        width: 25%;
     
    }
        .snslink{
            float: right;
            margin-top: 150px;
            height: 30px;
            width: 30px;
        }
    .menu{
        height: 50px;
        width: 100%;
        display: flex;
        z-index: 1;
    }
        .navi>li{
            float: left;
        }
          
        .navi>li>a{
            margin-top: 15px;
            margin-bottom: 14px;
            height: 20px;
            width: 197px;
            line-height: 20px;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            background-color: white;
            color: black;
            padding-right: 1px ;
            border-left: 1px solid grey;
            border-right: 1px solid grey;
        }

        .navi>li>a:hover{
            background-color: #a3a5a7;
        }
main{
    height: 400px;
    width: 100%;
}
/* home main 시작 */
    .mainvideo{
        height: 200px;
        width: 1200px;   
        background-color: aqua;
        overflow: hidden;     /* 영역 밖으로 보이지 않도록 제한 */
    }

    .main_bottom1{
    float: left;
    height: 200px;
    width: 400px
    }
        .tabmenu{
            float: left;
            height: 180px;
            width: 400px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 12px;
        }
        
        .tabmenu>li{
            float: left;
            width: 100px;
            line-height: 30px;
        }
        
        .tabmenu>li>a{
            display: block;
            font-size: 16px;
            text-align: center;
            background-color: #cccccc;
            border: 1px solid #dddddd;
            border-bottom: none;
        }
        
        .tabmenu>li>a:hover{
            background-color: #eeeeee;
        }
        
        .tabmenu>li:first-child a{
            border-right: none;
        }
        
        .tabmenu>li>.active>a{
            background-color: #ffffff;
        }
        
        .tabmenu>li div{
            left: 5px;
            height: 0px;
            overflow: hidden;
        }
        
        .tabmenu>li.active div{
            width: 395px;
            height: 148px;
            border: 1px solid #dddddd;
            z-index: 1;
        }

        .notice ul{  /*공지사항 콘텐츠 영역 스타일*/
            float:left;
            width:393px; 
            margin-top:12px;
            margin-bottom:12px;
        }
        
        .notice li{  /*공지사항 리스트 영역 스타일*/
            height:32px;
            line-height:32px;
            font-size:13px;
            margin-left:10px;
            margin-right:10px;
        }
        
        .notice li:nth-child(2n){ /*공지사항 중 2배수 리스트 스타일*/
            background-color:#cccccc;
        }
        
        .notice li span{   /*<span>요소로 구성한 날짜 영역 스타일*/
            float:right;
        }
        
        .notice li:hover{  /*공지사항 리스트 영역에 마우스를 올릴 때 스타일*/
            font-weight:bold;
        }

    .main_bottom2{
    
        float: left;
        padding-left: 50px;
        padding-top: 38px;
        height: 175px;
        width: 350px;
        
    }
    .main_bottom3{
        float: left;
        padding-left: 50px;
        padding-top: 38px;
        height: 175px;
        width: 350px;
    }
/* home main 끝 */

/* aboutus main 시작 */


/* aboutus main 끝 */

/* contactus main 시작 */
    .contactusmain1{
        float: left; 
        margin-top: 25px;
        margin-bottom: 5px;
        margin-left: 25px;
        margin-right: 25px;
    }   
            .mainmap{
            width: 550px;
            height: 330px;
            border: 10px grey;
            border-collapse:collapse
        }
    .shortcut{
        float: right;
        width: 530px;
        height: 350px;
        margin-top: 25px;
    }
        .contactinfo{
            
            float: auto;
            height: 110px;
            width: 100%;
            font-size: 15px;
            font-weight: bold;
            color: black;
            outline: 10px;
        }
    .counseling{
        float: auto;
        height: 220px;
        background-color: grey;
        width: 100%;
        margin-top: 20px;
    }

/* contactus main 끝 */    

footer{
    height: 100px;
    width: 100%;
    background-color: rgb(146, 146, 146);
}
.footer1{
    float: left;
    height: 100px;
    width: 400px;
}
    .footer11{
        padding-left: 10px;
        font-size: 10px;
        float: left;
        height: 100px;
        width: 240px;
        color: white;
    }
    .footer12{
        font-size: 10px;
        float: left;
        height: 100px;
        width: 150px;
        color: white;
}
.footer2{
    float: left;    
    height: 100px;
    width: 400px;
}
.footer21{
    font-size: 10px;
    float: left;
    height: 100px;
    width: 200px;
    color: white;
}
.footer22{
    font-size: 10px;
    height: 100px;
    width: 200px;
    color: white;
}
.footer3{
    font-size: 1px;
    float: right;
    height: 100px;
    width: 400px;
    color: white;
}
